@model AppointmentViewModel
@{
    ViewData["Title"] = "Delete Schedule";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}
<h2>Delete Schedule</h2>

<p>Are you sure you want to delete the following schedule?</p>

<div>
    <strong>Patient Name:</strong> @Model.Name <br />
    <strong>Date:</strong> @Model.Date <br />
    <strong>Time:</strong> @Model.Time <br />
    <strong>PatientFileId:</strong>@Model.PatientFileId<br />
    <strong>Reason:</strong>@Model.Reason<br />
    <strong>Status:</strong>@Model.Status<br/>
</div>

<form asp-action="ScheduleDelete" method="post">
    <input type="hidden" asp-for="AppointmentId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="@Url.Action("Schedule")" class="btn btn-secondary">Cancel</a>
</form>

